:root {
  /* USP color palette */
  --usp-color-1: #1094ab;
  --usp-color-2: #64c4d2;
  --usp-color-3: #fcb421;
  --usp-color-4: #024e5c;
}

html {
  /* Fonts */
  font-family: 'Fira Sans', 'Karla', 'Sarabun', sans-serif;
}

a {
  color: var(--usp-color-4);
  text-decoration: none;
}

a:hover {
  color: var(--usp-color-3);
}

@media (min-width: 1200px) {
  .multi li {
    width: 50%;
  }

  ul.multi {
    display: flex;
    flex-wrap: wrap;
    list-style-type: square;
    margin: 2px;
  }
}

div.title {
  /* Colors */
  background-color: var(--usp-color-1);
  color: white;
  /* Padding and margins */
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 50px;
  width: fit-content;
  /* Border */
  border-style: none none solid none;
  border-width: 10px;
  border-color: var(--usp-color-3);
  /* Font */
  font-size: 25px;
}

div.container {
  display: flex;
}

div.sidebar {
  /* Colors */
  background-color: var(--usp-color-2);
  color: black;
  /* Padding and margins */
  padding: 10px;
  margin: 20px;
  /* Border */
  border-style: none none none solid;
  border-width: 10px;
  border-color: var(--usp-color-3);
  /* Dimensions */
  width: fit-content;
  height: fit-content;
  /* Font */
  font-size: 20px;
  /* Flush to the left. */
  flex: 0;
}

a.sidebar-item {
  padding: 5px;
  padding-right: 20px;
  padding-left: 10px;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

div.content {
  /* Colors */
  background-color: var(--usp-color-2);
  color: black;
  /* Padding and margins */
  padding: 20px;
  padding-left: 40px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 10%;
  /* Border */
  border-style: none none none solid;
  border-width: 10px;
  border-color: var(--usp-color-3);
  /* Font */
  font-size: 20px;
  /* Flush to the right. */
  flex: 1;
}

.content h1 {
  font-size: 30px;
}

.content iframe {
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  height: 1000px;
}
